<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 
    <link rel="stylesheet" type="text/css" href="project.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
     <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />


    <title>Ai PC Builder</title>
  </head>
  <body>

<!-- Header (Hero) section start from here -->
<!-- Navbar start from here -->
<div></div>
<header class="bg-image" style="background-image: url(contact.png); height: 600px;">
<div class="container-fluid">
<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="#"><img src="pc-builder.png" height="50px"></a>
  <div class="collapse navbar-collapse" id="navbarNav">
  	<div class="mr-auto"></div>
  	<ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link  active" aria-current="page" href="#">Home</a>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="#">Blog</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>

    </ul>

  <div class="main">
		
		<a href="#" class="user"><i class="ri-user-fill"></i> Sign In</a>
		<a href="#" class="user"><i class="ri-login-box-fill"></i> Register</a>
	</div>
</nav>
</div>
<br><br>
<!-- Navbar end here -->
<div class="container">
	<div class="row">
		<div class="col-md-7 col-sm-12 bannertext">
			<h1>Let's Connect <br>With Us!</h1>
			<p>Ai Pc Builder is a Ai based web application which we have<br> three types of option to build our own PC more accassible</p>
			<form method="post"><button class="btn btn-light  px-4 py-2" class="exploremore"> Explore More<i class="fa-solid fa-arrow-right"></i></button>
</form>
		</div>
		<div class="col-md-5 col-sm-12"> <img src=""> </div>
			

		</div>
	</div>

</header>
<!-- Header (Hero) section ends here -->

<br><br>


<section>
	<div class="container contactbox">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="maintext">Connect With Us!</h1>
				<p>We would love to respond your queries and help you succees, Feel free to get in touch with us.</p>
			</div>

			<div class="col-lg-6 leftbox">
				<h3>Send Your Request</h3>

				<form>
					<div class="input-row">
						
						<div class="inout-group">
							<label>Name</label>
							<input type="text" placeholder="Enter Name">
						</div>
						<div class="inout-group">
							<label>Email</label>
							<input type="email" placeholder="Enter Email">
						</div>
						</div>

          <div class="input-row">
						<div class="inout-group">
							<label>Phone</label>
							<input type="text" placeholder="Your Phone">
						</div>
						<div class="inout-group">
							<label>Subject</label>
							<input type="text" placeholder="Subject">
						</div>
					</div>
					<br>

					<label>Message</label>
					<textarea rows="5" placeholder="Your Message"></textarea>

					<button class="btns py-2 px-5" type="submit">SEND</button>

				</form>
			</div>
			<div class="col-lg-6 rightbox">
				<h3>Reach US</h3>

				<table>
					
					<tr>
						<td>Email</td>
						<td>alter@gmail.com</td>
					</tr>
					<tr>
						<td>Phone</td>
						<td>+92 306 9160 717</td>
					</tr>
					<tr>
						<td>Address</td>
						<td>UIIT Department PMAS Arid Agriculture <br>University Rawalpindi</td>
					</tr>

					<tr>
						<td>Fax</td>
						<td>+92 546 777</td>
					</tr>
					<tr>
						<td>Shop <br>Address</td>
						<td>UIIT Department PMAS Arid Agriculture <br>University Rawalpindi</td>
					</tr>


				</table>
			</div>

		</div>
	</div>
</section>


 


  <!-- Footer section start from here -->

<section>
  <footer>
  	<div class="container-fluid" style="background-color: #1f1f1f;">
  	<div class="container">
  		<div class="row text-left">

  			<div class="col-md-5 col-md-5 fabout">
				<h5> About Us</h5>
				<p class="abouttext"><b>Alter</b> is a AI budget and component sase computer builder is web base application. Alter is a tool that makes PC building easier than ever. </p>
				<p class="abouttext"><span style="color:white"> © Alter.com </span> Made with love <i class="fas fa-heart" style="color: red; font-size: 20px;"></i> & Coffee. <i class="fas fa-mug-hot" style="color: #ffc000; font-size: 20px;"></i></p>
			</div>


			<div class="col-md-2 col-sm-12 fabout">
				<h4 class="text-light" style="font-size: 1.25rem;"> Follow Us</h4>
				<p class="abouttext"> Let Us Be Social</p>
				<div class="column">
					<i class="fab fa-facebook-f" style="color:white; margin-left: 2px;  font-size: 20px;"></i>
					<i class="fab fa-instagram" style="color:white; margin-left: 5px;  font-size: 20px;"></i>
					<i class="fab fa-twitter" style="color:white; margin-left: 5px;  font-size: 20px;"></i>
					<i class="fab fa-youtube" style="color:white; margin-left: 5px;  font-size: 20px;"></i>
				</div>
			</div>

			<div class="col-md-2 col-sm-12 fabout">
				<h4 class="text-light" style="font-size: 1.25rem;"> Useful links</h4>
				<ul>
					<li><a href="#">Home</li></a>
					<li><a href="#">About</li></a>
					<li><a href="#">Contact</li></a>
					<li><a href="#">Blog</li></a>
				</ul>
			</div>

<div class="col-md-3 col-md-3 fabout">
				<h5> Contact Us</h5>
				<ul class="contactsection">
					<li><i class="fa-solid fa-phone"></i> <span class="text" style="font-weight: 400; margin-left:3px;">+92 3069160717</span></li>
					<li><i class="fa-solid fa-envelope"></i> <span class="text" style="font-weight: 400; margin-left:3px;">alter@gmail.com</span></li>
					<li><i class="fa-solid fa-location-dot"></i> <span class="text" style="font-weight: 400; margin-left:9px;">PMAS Arid University</span></li>
					<li><i class="fa-solid fa-fax"></i> <span class="text" style="font-weight: 400; margin-left:3px;">+92 546 777</span></li>
				</ul>
			</div>
  		</div>
  	</div>
   </div>
  </footer>
</section>

   <!-- Footer section ends here -->




    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>

</html>

    





   
   