<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 
    <link rel="stylesheet" type="text/css" href="project.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
     <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />


    <title>Ai PC Builder</title>
  </head>
  <body>

<!-- Header (Hero) section start from here -->
<!-- Navbar start from here -->
<div></div>
<header class="bg-image" style="background-image: url(bg.png); height: 600px;">
<div class="container-fluid">
<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="#"><img src="pc-builder.png" height="50px"></a>
  <div class="collapse navbar-collapse" id="navbarNav">
  	<div class="mr-auto"></div>
  	<ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link  active" aria-current="page" href="#">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="#">Services</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="#">Blog</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>

    </ul>

  <div class="main">
		
		<a href="#" class="user"><i class="ri-user-fill"></i> Sign In</a>
		<a href="#" class="user"><i class="ri-login-box-fill"></i> Register</a>
	</div>
</nav>
</div>

<!-- Navbar end here -->
<div class="container">
	<div class="row">
		<div class="col-md-7 col-sm-12 bannertext">
			<h1>Let's Make Your! <br>Amazing PC more<br>Accessible</h1>
			<p>Ai Pc Builder is a Ai based web application which we have<br> three types of option to build our own PC more accassible</p>
			<form method="post"><button class="btn btn-light  px-4 py-2" class="exploremore"> Explore More<i class="fa-solid fa-arrow-right"></i></button>
</form>
		</div>
		<div class="col-md-5 col-sm-12"> <img src=""> </div>
			

		</div>
	</div>

</header>
<!-- Header (Hero) section ends here -->

<br><br>

 <!-- Plans Section starts from here -->

<section class="plans">
	

	<div class="container text-center py-3">
		<div class="row">
			<div class="col-lg-6 mx-auto">
				<h1 style="color:#0B45D4;">Pick Your Plan Accourding to Your Own Choice</h1>
				<p class="p1"> You have free recommendation of PC from Ai Bulder</p>
			</div>
		</div>

		<div class="row pt-5">
			
			<div class="col-md-4">
				
				<div class="card1">
					<div class="card-body">
						<small class="sm font-weight-bold">Price Based</small>
						<h1>Price</h1>
						<p>Ai Price Base PC Builder</p>
						<hr>
						<p><i class="ri-check-line"><span>Company</span></i></p>
						<hr>
						<p><i class="ri-check-line"><span>Budget</span></i></p>
						<hr>
						<p><i class="ri-check-line"><span>Purpose</span></i></p>
						<hr>
						<p><i class="ri-check-line"><span>Ram</span></i></p>
						<hr>
						<p><i class="ri-check-line"><span>Storage</span></i></p>
						<hr>
						<p><i class="ri-check-line"><span>Ai Recommandation</span></i></p>
						<hr>
						<button class="btn1 px-4 py-2"> Select Tool</button>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card2">
					<div class="card-body">
						<small class="sm font-weight-bold" style="color: white;">Component Based</small>
						<h1>Component</h1>
						<p>Ai Component Base PC Builder</p>
						<hr>
						<p><i class="ri-check-line"><span>Company</span></i></p>
						<hr>
						<p><i class="ri-check-line"><span>Ram</span></i></p>
						<hr>
						<p><i class="ri-check-line"><span>Processor</span></i></p>
						<hr>
						<p><i class="ri-check-line"><span>Generation</span></i></p>
						<hr>
						<p><i class="ri-check-line"><span>Graphic Card</span></i></p>
						<hr>
						<p><i class="ri-check-line"><span>Ai Recommandation</span></i></p>
						<hr>
						<button class="btn2 px-4 py-2"> Select Tool</button>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card1">
					<div class="card-body">
						<small class="sm font-weight-bold">Requirement Based</small>
						<h1>Requirement</h1>
						<p>Ai Requirement Base PC Builder</p>
						<hr>
						<p><i class="ri-check-line"><span>Company</span></i></p>
						<hr>
						<p><i class="ri-check-line"><span>Color</span></i></p>
						<hr>
						<p><i class="ri-check-line"><span>Purpose</span></i></p>
						<hr>
						<p><i class="ri-check-line"><span>Genration</span></i></p>
						<hr>
						<p><i class="ri-check-line"><span>Storage</span></i></p>
						<hr>
						<p><i class="ri-check-line"><span>Ai Recommandation</span></i></p>
						<hr>
						<button class="btn1 px-4 py-2"> Select Tool</button>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>
 <!-- Plans Section ends here -->



 <!-- FAQ starts from here -->

<section class="faq">
<div class="container">
	<div class="row">
		<div class="col-lg-12">
<div class="box">
   <p class="heading">Frequently Asked Questions</p>
   <div class="faqs">
      <details>
         <summary>Why to choose PC Builder?</summary>
         <p class="text">It totally depends upon you! But to give you a little more perks about us, We are dedicated only to the compatibility of PC Parts for the best profit of our users. We always update our system so that you will only get the best and the latest parts available in the market.</p>
      </details>
      <details>
         <summary>How our system works?</summary>
         <p class="text">Our system works by testing various compatibilities of every component with other selected pc parts by the user, and to achieve such a big goal. We have written thousands of lines of the algorithms just to make sure you will always get what's compatible and the latest for your build.</p>
      </details>
      <details>
         <summary>Why should you trust PC Builder?</summary>
         <p class="text">Our Millions of satisfied users is our proof of the trust towards them. We are here just for helping the people who wish to make their own pc build, but they lack the proper knowledge of the components and their compatibilities. So they get messed up with their build, but with us, they didn't need to worry anymore.</p>
      </details>
   </div>
 </div>
</div>
</div>
</div>
</section>
 <!-- FAQ ends here -->


<!-- Hustle Section starts here -->
 <section class="hustle">
 	<div class="container-fluid">
 		<div class="container">
 			<div class="row">
 				<div class="col-lg-12">
 					<h1 class="text-center">Hustle with Confidence</h1>
 				</div>


 				<div class="col-md-4 d-flex mb-md-0 topcard">
 					<i class="fas fa-shield-alt fv"></i>
 					<div>
 						<h3 class="h4 font-weight-medium">Assurity with PC Compatibility</h3>
 						<p class="small mb-0">
 						We developed this website with hundreds of most significant compatibility algorithms, which makes building PC much easier, and you'll get 100% assurity with the pc parts compatibility.
 					</p>
 				</div>
 			</div>

 			 	<div class="col-md-4 d-flex mb-md-0 topcard">
 					<i class="fas fa-folder-open fv"></i>
 					<div>
 						<h3 class="h4 font-weight-medium">Availability of Components</h3>
 						<p class="small mb-0">
 						Finding the right pc part is now easier with us at PC Builder. We regularly check and list new components on our website, so you'll always get the available and latest components without any hassle.
 					</p>
 				</div>
 			</div>


 			 	<div class="col-md-4 d-flex mb-md-0 topcard">
 					<i class="fas fa-server fv"></i>
 					<div>
 						<h3 class="h4 font-weight-medium">PC Builds Showcase</h3>
 						<p class="small mb-0">
 						Looking for the ideas to build your pc accordingly? Herewith us, thousands of people share their latest PC builds and the list of components, which they used to build their own PCs - so you'll never get out of ideas while building the PC.
 				</div>
 			</div>



     </div>
     <div class="row">
     	 				<div class="col-md-4 d-flex mb-md-0">
 					<i class="fas fa-history fv"></i>
 					<div>
 						<h3 class="h4 font-weight-medium">Clarity with Price History</h3>
 						<p class="small mb-0">
 						Not sure what's the actual price of the pc component you're going to buy? With PC Builder, you'll get the latest price of the component, along with the price history offered by various merchants. So you'll never miss the best deal.
 					</p>
 				</div>
 			</div>

 			 	<div class="col-md-4 d-flex mb-md-0">
 					<i class="fas fa-sitemap fv"></i>
 					<div>
 						<h3 class="h4 font-weight-medium">Clearance with Dependencies</h3>
 						<p class="small mb-0">
 						We help you to clear all your doubts about the dependencies of the pc components with ease, and we make sure you're buying the right pc components for building your custom pc.
 					</p>
 				</div>
 			</div>


 			 	<div class="col-md-4 d-flex mb-md-0">
 					<i class="fas fa-share-alt fv"></i>
 					<div>
 						<h3 class="h4 font-weight-medium">Sharing Made Easy</h3>
 						<p class="small mb-0">
 						We made sharing the rigs simple. Once you created the list of compatible pc parts, you can easily share them using the rig link, reddit, and with other forums with the help of our powerful sharing tool - And get assured even before buying them.
 					</p>
 				</div>
 			</div>


     </div>

 		</div>

 	</div>
 </section>
 <!-- Hustle section ends here -->

  <!-- Footer section start from here -->

<section>
  <footer>
  	<div class="container-fluid" style="background-color: #1f1f1f;">
  	<div class="container">
  		<div class="row text-left">

  			<div class="col-md-5 col-md-5 fabout">
				<h5> About Us</h5>
				<p class="abouttext"><b>Alter</b> is a AI budget and component sase computer builder is web base application. Alter is a tool that makes PC building easier than ever. </p>
				<p class="abouttext"><span style="color:white"> © Alter.com </span> Made with love <i class="fas fa-heart" style="color: red; font-size: 20px;"></i> & Coffee. <i class="fas fa-mug-hot" style="color: #ffc000; font-size: 20px;"></i></p>
			</div>


			<div class="col-md-2 col-sm-12 fabout">
				<h4 class="text-light" style="font-size: 1.25rem;"> Follow Us</h4>
				<p class="abouttext"> Let Us Be Social</p>
				<div class="column">
					<i class="fab fa-facebook-f" style="color:white; margin-left: 2px;  font-size: 20px;"></i>
					<i class="fab fa-instagram" style="color:white; margin-left: 5px;  font-size: 20px;"></i>
					<i class="fab fa-twitter" style="color:white; margin-left: 5px;  font-size: 20px;"></i>
					<i class="fab fa-youtube" style="color:white; margin-left: 5px;  font-size: 20px;"></i>
				</div>
			</div>

			<div class="col-md-2 col-sm-12 fabout">
				<h4 class="text-light" style="font-size: 1.25rem;"> Useful links</h4>
				<ul>
					<li><a href="#">Home</li></a>
					<li><a href="#">About</li></a>
					<li><a href="#">Contact</li></a>
					<li><a href="#">Blog</li></a>
				</ul>
			</div>

<div class="col-md-3 col-md-3 fabout">
				<h5> Contact Us</h5>
				<ul class="contactsection">
					<li><i class="fa-solid fa-phone"></i> <span class="text" style="font-weight: 400; margin-left:3px;">+92 3069160717</span></li>
					<li><i class="fa-solid fa-envelope"></i> <span class="text" style="font-weight: 400; margin-left:3px;">alter@gmail.com</span></li>
					<li><i class="fa-solid fa-location-dot"></i> <span class="text" style="font-weight: 400; margin-left:9px;">PMAS Arid University</span></li>
					<li><i class="fa-solid fa-fax"></i> <span class="text" style="font-weight: 400; margin-left:3px;">+92 546 777</span></li>
				</ul>
			</div>
  		</div>
  	</div>
   </div>
  </footer>
</section>

   <!-- Footer section ends here -->




    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>

</html>

    





   
   